/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 90%;
  max-width: 1536px;
  margin: 1.6rem auto;
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin: 2rem auto;
}

.line-heading {
  background-image: linear-gradient(90deg, #f22ae1, #2cb2fa);
  border: 3px #000;
  border-radius: 16px;
  width: 100px;
  height: 4px;
  margin: 0 auto;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.6rem;
  margin: 1.6rem auto;
}

.cards {
  border: 1px solid #f926e133;
  padding: 1.6rem;
  border-radius: 1.6rem;
}

.cards:hover {
  box-shadow: 0 16px 44px #00000008;
  cursor: pointer;
}

.cards h2 {
  font-size: 2rem;
  margin: 1.4rem 0;
  color: #0d0d0d;
}

.cards p {
  font-size: 1.6rem;
  font-weight: 300;
  color: #0d0d0d;
}

.cards p span {
  color: #f926e1;
  font-weight: 700;
}

.cards img {
  background: #fae8fb;
  border-radius: 8px;
  padding: 8px;
  width: 44px;
  height: 44px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

/* Breakpoints */
@media screen and (max-width: 680px) {
  h1 {
    font-size: 2rem;
  }
  .cards h2 {
    font-size: 16px;
  }
  .cards p {
    font-size: 14px;
  }
}
